<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8wKIkNixyL5WUI4H3SOMhHOfW4254tiE</string>
	<key>GCM_SENDER_ID</key>
	<string>553956103851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaarzx.geoabsensi.absensiOnline</string>
	<key>PROJECT_ID</key>
	<string>abensi-67190</string>
	<key>STORAGE_BUCKET</key>
	<string>abensi-67190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553956103851:ios:3e379aa6d72658dc4309ee</string>
</dict>
</plist>